:root{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --violet:#616BE7;
    --cyan:#37B1E2;
    --blue:#2544B8;

}

/*menu*/

#logo {
    width: 50px;
}

#menu {
    background:var(--cyan);
    background: radial-gradient(circle, var(--cyan) 0%, rgba(250,250,250,0.41220238095238093) 100%);
   
}   
.nav-link:hover{
    text-decoration: underline;

}
.nav-link{
    font-size: 1.2rem;
}

/*form*/

footer{
    background-color: var(--blue);
    font-weight: 400;
    color: white;
}

#submit{
    background-color: var(--violet);
    width: 100px;
}

#contacto {
    font-size: 1.4rem;
    font-weight: 400;
    background-color: var(--violet);
    border: 2px solid white;
}
h5{
    font-size: 2rem;
}

label::before{
    content: "* ";
}
label{
    font-size: 1.2rem;
}
input:focus , textarea:focus{
    border: none;
  border-bottom: 2px solid var(--cyan) !important;
  border-top: 2px solid var(--cyan) !important;
  background-color:#bcbee3 !important; 
}

/*section/articles*/


#imagen{
    background-image: url(/assets/quienes_somos_sd.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
h2 {
    color:var(--violet);
    font-weight: 800;
    font-size: 2.5rem;
    text-shadow: 0px 5px 5px white;
   

}
#mision {   
    background-color: var(--violet) ;
    color:white;
    border-radius: 10px;
}
#textoImg{
    animation: pop 1s ease 0s 1 normal forwards; 
}

h3{
    font-size: 2.5rem;
}
#logoArticle{
    animation: slide 1s ease 0s 1 normal forwards;
}
h4 {
    background-color: var(--blue);
    font-size: 1.8rem;
    color: white;
    box-shadow: 5px 5px 10px 1px var(--cyan);    
    animation: deslizar 1s linear 0s 1 normal forwards;
    
}

.logos {
    background-image: url(/assets/gc.png);
    width: 100%;
}

/*animaciones*/

@keyframes pop {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes slide {
	0% {
		transform: scaleX(0);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}

@keyframes deslizar {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
/*responsive min-width:768px*/

@media screen and (min-width:768px) {

    #imagen {
        background-image: url(/assets/quienes_somos_md.jpg);
    }    
}

/*responsive min-width:992px*/

@media screen and (min-width:992px) {

    #imagen {
        background-image: url(/assets/quienes_somos_lg.jpg);
    }
}